* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* HEADER */

header {
  height: 100px;
  background-color: #06141f;
}
.logo {
  width: 70px;
}

/* MAIN */

main {
  background-color: #1D2D3C;
}

.color_card {
  background-color: #112030;
  padding: 1.5rem 1.5rem 0;
  color: white;
}

.color_card h2 {
  font-size: 1.3rem;
  font-weight: bolder;
}